/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
   flex: 1 1 auto;
}
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #ed1d242f !important;
}

.mat-toolbar.mat-primary {
    background-color: #ED1D24 !important;
}

.btn-closed-mobile{
    display: none !important;
}

.mat-progress-spinner circle, .mat-spinner circle{
    stroke: #ED1D24 !important;
}



@media (max-width: 480px) {
    mat-sidenav{
        width: 100%;
    }

    .btn-closed-mobile{
        display: block !important;
    }
}

